@charset "uft-8";
/* css document */

body {
    text-align: center;
}

.titleimg {
    background-image: url(image/blockherointro2.png);
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1536px;
    border: none;
}

.bar {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: rgb(20, 40, 80);
}

.intro {
    margin: 0 auto;
    padding: 30px;
    max-width: 800px;
}

.intro h1 {
    color: rgb(255, 230, 0);
}

.intro h2 {
    padding-top: 10px;
    font-size: 20px;
}

.image {
    width: 1000px;
    margin: 0 auto;
    border: rgb(20, 40, 80) solid;
}

.imagesmall {
    width: 600px;
    margin: 0 auto;
    border: rgb(20, 40, 80) solid;
}